//On rajoute au html les spécificité du card__side--back1 puis on modifie le backcolor ici en fonction du back1
//On corrige l'erreur sur la carte avec -180deg
.card {
	//FONCTIONNALITES
	perspective: 150rem;
	-moz-perspective: 150rem;
	height: 52rem;
	position: relative;
	&__side {
		// color: $color-white;
		// font-size: 2rem;
		height: 52rem;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		backface-visibility: hidden;
		transition: all 0.8s ease;
		border-radius: 3px;
		box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);
		overflow: hidden;

		&--front {
			background-color: $color-white;
		}
		&--back {
			transform: rotateY(180deg);
			&-1 {
				background: linear-gradient(
					to right bottom,
					$color-secondary-light,
					$color-secondary-dark
				);
			}
			&-2 {
				background: linear-gradient(
					to right bottom,
					$color-tertiary-light,
					$color-tertiary-dark
				);
			}
			&-3 {
				background: linear-gradient(
					to right bottom,
					$color-primary-light,
					$color-primary-dark
				);
			}
		}
	}

	&:hover &__side--front {
		transform: rotateY(-180deg);
	}
	&:hover &__side--back {
		transform: rotateY(0);
	}

	//FRONT SYTLE STYLISE
	&__picture {
		-webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
		clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
		background-blend-mode: screen; //nous permet d'éviter le rgba(color,.8)
		border-top-left-radius: 3px;
		border-top-right-radius: 3px;

		height: 23rem;
		&--1 {
			background: linear-gradient(
					to right bottom,
					$color-secondary-light,
					$color-secondary-dark
				),
				url(../img/nat-5.jpg) center/cover;
		}
		&--2 {
			background: linear-gradient(
					to right bottom,
					$color-tertiary-light,
					$color-tertiary-dark
				),
				url(../img/nat-6.jpg) center/cover;
		}
		&--3 {
			background: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark),
				url(../img/nat-7.jpg) center/cover;
		}
	}
	&__heading {
		font-size: 2.8rem;
		text-transform: uppercase;
		font-weight: 300;
		color: $color-white;
		position: absolute;
		top: 12rem;
		right: 2rem;
		text-align: right;
		width: 75%;
	}
	&__heading-span {
		padding: 1rem 1.5rem; //c'est p/r au width de 75%
		-webkit-box-decoration-break: clone;
		box-decoration-break: clone;
		&--1 {
			background: linear-gradient(
				to right bottom,
				rgba($color-secondary-light, 0.8),
				rgba($color-secondary-dark, 0.8)
			);
		}
		&--2 {
			background: linear-gradient(
				to right bottom,
				rgba($color-tertiary-light, 0.8),
				rgba($color-tertiary-dark, 0.8)
			);
		}
		&--3 {
			background: linear-gradient(
				to right bottom,
				rgba($color-primary-light, 0.8),
				rgba($color-primary-dark, 0.8)
			);
		}
	}
	&__details {
		padding: 3rem;
		ul {
			list-style: none;
			width: 80%;
			margin: 0 auto;
			li {
				text-align: center;
				font-size: 1.5rem;
				padding: 1rem;
				&:not(:last-child) {
					border-bottom: 1px solid $color-gray-light2;
				}
			}
		}
	}

	//BACK SYTLE STYLISE
	&__price {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 90%; //à cause du btn du bas
		text-align: center;
		&-box {
			text-align: center;
			margin-bottom: 8rem;
			color: $color-white;
			&--only {
				font-size: 1.4rem;
				text-transform: uppercase;
			}
			&--value {
				font-size: 6rem;
				font-weight: 100;
			}
		}
	}
}
