//  On enleve le phone et le tab
//Le meilleur chemin est de commencer par le haut & de descendre tab-Land(w<1200) puis tab-port(w<900)
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%;

	@include respond(tabLand) {
		font-size: 56.25%; //1rem=9px => 9/16
	}

	@include respond(tabPort) {
		font-size: 50%; //1rem=8px => 8/16
	}

	@include respond(bigDesk) {
		font-size: 75%; //1rem=12px => 12/16
	}
}

body {
	box-sizing: border-box;
}
